<div class="row">
<div class="col-sm-3 sidenav" style="background-color: LightGoldenRodYellow; height: 100% ">
<ul >
 
  <li><a  ui-sref="dentists">Dentist</a></li>
  <li><a  ui-sref="cardiologist">Cardiologist</a></li>
  <li><a  ui-sref=" gynecologist"> Gynecologist</a></li>
  <li><a  ui-sref="neurologist"> Neurologist</a></li>
  <li><a  ui-sref=" gynecologist"> Gynecologist</a></li>
  <li><a  ui-sref=" medical">Medical</a></li>
  <li><a  ui-sref="patho">Pathological Lab</a></li>
</ul>
</div>
<div class="col-sm-9 sidenav" ui-view= content >

   

 <div ng-init="getDentists()">


 <img  src="images/image1.jpeg" style="width: 700px; height:300px;"><br>
 
   <label>Search: <input ng-model="searchText"></label>
   <button class="btn btn-primary" ng-click="addDentist()">Add New</button>
   <br>
<table class="table table-hover table-striped table-bordered" style="width: 70%">
    <thead>
        <tr>
            <!--<td><B>Id</B></td>-->
            <td><B>Doctor Name</B></td>
            <td><B>Time</B></td>
            <td><B>Available Days</B></td>
            <td><B>contact</B></td>
            <td><B>Delete</B></td>
            <td><B>Update</B></td>
        </tr>
    </thead>
    <tbody>
    
        <tr dir-paginate="dentist in dentists | filter:searchText | itemsPerPage:4">
        <!--<td>{{ user._id }}</td>-->
            <td>{{ dentist.doctorName }}</td>
            <td>{{ dentist.time }}</td>
            <td>{{ dentist.day }}</td>
            <td>{{ dentist.contact }}</td>
            <td ><button class="btn btn-primary" ng-click="deleteDentist(dentist._id)" >Delete</button></td>
            <td><button class="btn btn-primary" ng-click="updateDentist(dentist._id)" >Edit</button></td>
        </tr>
    </tbody>
</table>
<dir-pagination-controls max-size="4" direction-links="true" boundary-links="true">
</dir-pagination-controls>
</div>
</div>