<div class="container">
	<div class="row">	 
        <div class="col-sm-6" style="background-color:white;">
            <h3> Reister here...</h3>
             <p> For getting facility and health tips..</p>
        </div>
        <form ng-submit="submit(patient)" name="signupForm">
            <div class="col-sm-6" style="background-color:pink;">
    	       <label><b>Username:</b></label><br>
    	       <input type="text" placeholder="Enter name" name="uname" ng-model="patient.username" required><br>
              
    	       <label><b>Password:</b></label><br>
    	       <input type="password" placeholder="Enter Password" name="psw" ng-model="patient.password" required><br>
    	       <label><b>ConfirmPassword:</b></label><br>
    	       <input type="password" placeholder="Enter Password" name="psw" ng-model="patient.confirmpassword" required><br>
    	       <label><b>Contact:</b></label><br>
    	       <input type="number" placeholder="Enter number" name="contact" ng-model="patient.contact" required><br>
    	       <label><b>Age:</b></label><br>
    	       <input type="number" placeholder="Enter your age" name="age" ng-model="patient.age" required><br>
               <label><b>City:</b></label><br>
               <input type="text" placeholder="Enter city" name="contact" ng-model="patient.city" required><br>
               <br>
               <button type="submit" class="btn btn-primary" >Submit</button>
            </div>   
        </form>
    </div>
</div>
