<div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="background-color:white;">
        <h2>Take an appointment here</h2>
      </div>
      <form name="myForm" ng-submit="createAppointment(appointment)" >
        <div class="col-sm-6">
          <label><b> Your Name </b></label><br>
          <input type="text" placeholder="Enter name" name="pname" ng-model=" appointment.patientName" required /><br>
          <div ng-messages="myForm.pname.$dirty && myForm.pname.$error" style="color:red" role="alert">
            <div ng-message when="required">You did not enter a field</div>
          </div>
          <label><b>Doctor Name</b></label><br>
          <input type="text" placeholder="Enter name of doctor" name="dname" ng-model="appointment.doctorName" ng-maxlength="20" required /><br>
          <div ng-messages="myForm.dname.$dirty && myForm.dname.$error" style="color:red" role="alert">
            <div ng-message when="required">You did not enter a field</div>
            <div ng-message when="maxlength">Your field is too long</div>
          </div>
          <div>
            <label><b>Your City</b></label><br>
            <input type="text" placeholder="Enter your city" name="city" ng-model="appointment.city" ng-minlength="4"  ng-maxlength="7" required />
            <div ng-messages="myForm.city.$dirty && myForm.city.$error" style="color:red" role="alert">
              <div ng-message when="required">You did not enter a field</div>
              <div ng-message when="minlength">Your field is too short</div>
              <div ng-message when="maxlength">Your field is too long</div>
            </div>
          </div>
          <div>
            <label><b>Contact</b></label><br>
            <input type="number" placeholder="Enter your contact No" name="number" ng-model="appointment.contact" ng-minlength="4"  ng-maxlength="7" required />
            <div ng-messages="myForm.contact.$dirty && myForm.contact.$error" style="color:red" role="alert">
              <div ng-message when="required">You did not enter a field</div>
              <div ng-message when="minlength">Your field is too short</div>
              <div ng-message when="maxlength">Your field is too long</div>
            </div>
          </div>
          <button type="submit"  ng-disabled="myForm.$invalid || appoint.dataloading" class="btn btn-primary" >Request</button>
        </div>
      </form>
    </div>
  </div>
</div>